.job-container {
  width: 70vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  margin: 0.4rem 0;
  border-left: 5px solid rgb(70, 143, 216);
  position: relative;
  box-shadow: 0px 4px 6px 4px rgba(91, 164, 164, 0.2);
}

.position > span {
  color: rgb(70, 143, 216)
}
.logo {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}
.logo > img {
  width: 7rem;
  height: auto;
  border-radius: 50%;
}

.part1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cname {
  font-weight: 700;
  color: rgb(28, 115, 202);
  margin-right: 0.8rem;
}

.new,
.featured {
  color: #fff;
  background-color: rgb(70, 143, 216);
  border-radius: 1rem;
  padding: 0.4rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.featured {
  background-color: hsl(180, 14%, 20%);
}

.position {
  font-weight: 700;
  font-size: 1.1rem;
  display: inline-block;
  padding: 0.7rem 0;
  cursor: pointer;
}

.details {
  color: hsl(180, 8%, 52%);
  /* border: 1px solid red; */
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
}
/* .details>span{
border: 1px solid green;
} */
.part2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details > span,
.part2 > span {
  background-color: rgb(230, 242, 255);
  color: rgb(70, 143, 216);
  font-weight: 700;
  padding: 0.5rem;
  
  border-radius: 5px;
  cursor: pointer;
}
.jobDetails {
  width: 73vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(70, 143, 216) 0px 0px 0px 3px;
  padding: 10px;
  margin-left: 5px;
}
.description {
  width: 70vw;
}
.backgroundDiv {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.background {
  width: 100%;
  max-height: 200px;
}
.detailsLogo {
  margin-top: -7%;
  width: 8rem;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.detailsCompany {
  color:rgb(70, 143, 216);
  font-weight: bold;
  margin-bottom: 10px;
}

.position > span {
  font-size: 16px;
  margin-left: 20px;
}
.position > span:hover {
  text-decoration: underline;
}
p {
  margin: 10px;
}
h3,
Button {
  margin: 8px;
}

